rect {
  cursor:pointer;
}

.mirror {
  transform: rotateX(180deg);  
  // padding: .5rem;
  // position: absolute;
  // bottom: 0;
  // background: lighten(navy, 70%);
}

// .mirror-wrapper {
//   height: 200px;
//   width: 100%;
//   background: #cdcdcd;
//   position: relative;
//   overflow-x: hidden;  
// }

.color-0 { fill: hotpink; background: hotpink; }
.color-1 { fill: crimson;  background: crimson; }
.color-2 { fill: teal;  background: teal; }
.color-3 { fill: indigo;  background: indigo; }

.btn {
  border-radius: 1.25rem;
}